<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home Page</title>
</head>
<body>
    <form action="/results" method="POST">
        <h4>Your Name: </h4><input name="name" type="text"><br>

        <h4>Dojo Location: </h4>
        <select name="location">
            <option value="Riverside">Riverside</option>
            <option value="San Francisco">San Francisco</option>
            <option value="San Jose">San Jose</option>
        </select><br>

        <h4>Favorite Language: </h4>
        <select name="language">
            <option value="Java">Java</option>
            <option value="CSS">CSS</option>
            <option value="Python">Python</option>
        </select><br>

        <h4>Comment(Option)</h4>
        <textarea name="comment" cols="30" rows="10"></textarea><br><br>

        <a href="/results"><button type="submit">Button</button></a>
    </form>
</body>
</html>