<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Hello everyone, how are you guys doing!?</h1>   
    
    <a href="/ninjas" class="button"><button>Go to Ninjas Page</button></a>
    <br><br>
    <a href="/dojos" class="button"><button>Go to the Dojo Page</button></a>
</body>
</html>
